<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Monday</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction & Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>11:45</td>  <td>Introduction to R using gapminder data. Part 1</td> </tr>
      <tr> <td>12:45</td>  <td>Lunch</td> </tr>
      <tr> <td>13:45</td>  <td>Introduction to R using gapminder data. Part 2.</td> </tr>
      <tr> <td>15:15</td>  <td>Coffee</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Tuesday</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Version control with Git and collaboration on GitHub</td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Version control with Git and collaboration on GitHub</td> </tr>
      <tr> <td>11:45</td>  <td>Introduction to R using gapminder data. Part 3</td> </tr>
      <tr> <td>12:45</td>  <td>Lunch</td> </tr>
      <tr> <td>13:45</td>  <td>Introduction to R using gapminder data. Part 4.</td> </tr>
      <tr> <td>15:15</td>  <td>Coffee</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <h3>Day 3: Wednesday</h3>
  The final day of the workshop is a hackday where we will ask you to work in small groups to create a solution to a problem,
  perhaps one that has cropped up in your research.
  <p>
  You will use the tools and techniques that you have learned over the previous two days and we'll wrap up the workshop with
  a short presentation from each group.
</div>
